html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', Fallback, sans-serif;
  font-weight: 400;
  font-size: 100%;
  letter-spacing: 0.06em;
  margin: 0;
  overflow-x: auto;
}

main {
  display: grid;
  align-content: center;
  height: 100vh;
  overflow-x: auto;
}

.wrapper {
  display: grid;
  height: 100%;
  margin: 0 3em 0 3em;
  overflow-x: auto;
}

.author {
  text-align: end;
}